html {
    font-size: 14px;
}
h1, h2, h3 {
    line-height: 1.3;
}
a, a:hover, a:focus {
    color:inherit;
    text-decoration: none
}
img {
    max-width: 100%;
}
.rs {
    margin: 0;
    padding: 0;
}
.list-unstyled {
    list-style: none;
}
.fwb {font-weight: bold}
.fwn {font-weight: normal}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
}
.p-rel {
    position: relative;
}
.p-abs {
    position: absolute;
}
.container {padding-left:0;padding-right:0}
.container-p15 {
    padding: 15px;
}
.container-radius {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.fz30 {
    font-size: 30px !important;
}
.fz18 {
    font-size: 18px !important;
}
.fz16 {
    font-size: 16px !important;
}
.fz20 {
    font-size: 20px !important;
}
.fz24 {
    font-size: 24px !important;
}
.mt-10 {margin-top: 10px;}
body {
    font-size: 14px;    
    font-family: 'Roboto', sans-serif;
    color:#4a4a4a;
}
.text--left {
    text-align: left;
}
.text--right {
    text-align: right;
}
.primary-color {
    color:#f67280
}
.bg--primary {
    background-color: #f67280;
    color: #fff;
}
.bg--secondary {
    background-color: #ffe6ea;   
}
.bg--white {
    background-color: #fff;
}
.w686 {
    -ms-flex: 0 0 68.6%;
    flex: 0 0 68.6%;
    max-width: 68.6%;
}
.w314 {
    -ms-flex: 0 0 31.4%;
    flex: 0 0 31.4%;
    max-width: 31.4%;   
}
.header-top {
    font-size: 16px;
    height: 40px;    
    padding: 8px 0;
}
.row--contact {
    display: block;
    float: left; 
    line-height: 1;   
}
.row--contact__bdl {
    border-left: 1px solid #fff;
}
.input {
    width:100%;
    outline: 0;
    height: 36px;
    color:#222;
    background: #fff;
    padding: 5px 7px;
    border: 1px solid #f67280;    
    font-size: 14px;
}
.input__round {
    border-radius: 4px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
}
.btn {
    position: relative;
    border: 0;
    outline: 0;
    background-color: #f67280;
    color:#fff;
}
.btn__small {
    height: 24px;
    font-size: 14px;
    line-height: 24px;   
    padding: 0 17px;
    font-weight: bold; 
}
.btn__round {
    border-radius: 4px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
}
.header--utils {
    display: inline-block;
}
.header--utils .header-search,
.header--utils .multi-lang--select,
.header--utils .header-socials {
    display: inline-block;
    vertical-align: middle;
}

.multi-lang--select .multi-lang--selected, 
.multi-lang--select .multi-lang--options {
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.multi-lang--selected {
    position: relative;
    display: block;
    padding: 0 10px 0 30px;
    height: 22px;
    line-height: 22px;    
}
.multi-lang--selected:before {
    content:'';
    position: absolute;
    left:10px;
    top:50%;
    margin-top: -6px;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #fff;
}
.multi-lang--options {
    position: absolute;
    left:0;
    right:0;
    top: 100%; 
    margin-top: -1px;   
    background: #fff;
    color: #4a4a4a;  
    box-shadow: 0px 2px 4px #d3d3d3;
}
.multi-lang--options a {
    display: block;
    line-height: 22px;
    padding: 0 10px;
    text-align: left;
}
.multi-lang--options a:hover {
    background: #f67280;    
    color:#fff;
}

.header-search {
    position: static;    
}

.header-search--btn {
    display: inline-block;
    width:25px;
    height: 25px;    
    background:#fff url('https://longvd94@github.io/images/search-icon.svg') center center/30px 30px no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.header-search--form {    
    top:100%;
    left:0;
    right:0;
    height: 36px;
    background-color: #fff;
    margin: 15px 0 0 0;
}
.header-search--form .btn {
    position: absolute;
    right:0;
    top:0;
    height: inherit;
    font-size: 14px;
    padding: 0 9px;
}
.header-social--label,
.header-social--list, 
.header-social--list li {
    display: inline-block;
}
.header-social--list li {
    vertical-align: middle
}
.ico-social {
    display: inline-block;
    margin-right: 7px;
    width:24px;
    height: 24px;
    background-size:100% 100%;
}
.ico-social__fb {
    background-image:url('https://longvd94@github.io/images/facebook-o.svg')
}
.ico-social__yt {
    background-image:url('https://longvd94@github.io/images/youtube-o.svg')
}
.ico-social__ig {
    background-image:url('https://longvd94@github.io/images/instagram-o.svg')
}
.ico-social__gg {
    background-image:url('https://longvd94@github.io/images/google-o.svg')
}
.header-middle {
    text-align: center;
    padding: 27px 0 20px;
}
.logo {
    display: inline-block;
    width:189px;
    height: 53px;
    text-indent: -9999em;
    background: url('https://longvd94@github.io/images/logo-p.png') center center/189px 53px no-repeat;
}
.main-nav {
    font-weight: bold;    
    white-space: nowrap;
}
.main-nav li {
    display: inline-block;
    margin-right: 33px;
    padding: 15px 0 12px 0;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}
.main-nav li.active a, .main-nav li a:hover {
    color:#f67280;
    border-bottom: solid 2px #f67280;
}
.footer {  
    padding: 25px 0;
}
.footer--copyright {
    font-size: 13px;
}
.footer--linklists {
    font-weight: bold;
    margin-top: -20px;
}
.footer--linklists li {
    margin-top: 20px;
}
.footer--linklists li a:hover {
    color:#f67280
}
#main {
    background-color: #f8f8f8;
    padding-bottom: 15px;
}

.breadcrumb {
    font-size: 13px;
    padding: 23px 0;
}
.breadcrumb li{
    position: relative;
    padding-left: 12px;
    margin-right: 4px;
    display: inline-block;
}
.breadcrumb li:after, 
.breadcrumb li:before {
    content:'';
    position: absolute;
    top:50%;
    left:0;
    height: 1px;
    width: 5px;
    background-color: #4a4a4a;   
}
.breadcrumb li:after {
    margin-top: -3px;
    transform: rotate(45deg)
}
.breadcrumb li:before {
    transform: rotate(-45deg) 
}
.breadcrumb li.first {
    padding-left: 0;
}
.breadcrumb li.first:after,
.breadcrumb li.first:before {
    display: none
}
.breadcrumb li.current, 
.breadcrumb li a:hover {    
    color:#f67280
}

.title {
    font-weight: bold;
    font-size: 14px;    
    color:#404040;    
}
.title__bdl {
    line-height: 1.1;
    border-left: 4px solid #f67280;
    padding-left:10px;
}
.title__upcase {
    text-transform: uppercase;
}
.list-subcates {
    display: block;
    color:#9b9b9b;
}
.list-subcates li {
    display: inline-block;    
    margin-right: 25px;
}
.list-subcates li:hover {
    color:#4a4a4a
}
.title-has-cates .title, 
.title-has-cates .list-subcates {
    display: inline-block;
}
.title-has-cates .list-subcates {
    margin-left: 70px;
}
.featured-article--img {
    height: 352px;    
}
.article--divide {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height: 1px;
    display: block;
    background: #ddd;
}
.article--img {
    display: block;
    background-color:#4a4a4a;
    background-size: cover;
    background-position: center center;
}
.article--img img {
    display: none
}
.article-label {
    font-size: 12px;
    color:#9b9b9b
}
.article-label .primary-color {
    font-size: 14px;
}
.article-grid-wrapper {
    margin-top: -10px;
}
.article-grid {
    position: relative;
    padding: 10px 0;   
}
.article-grid--img {
    position: relative;
    height: 158px;
}
.article-grid--img__h176 {
    height: 176px;
}
.article-grid--img__h212 {
    height: 212px;
}
.article-grid--img__h424 {
    height: 424px;
}
.article-grid--play {
    position: absolute;
    bottom:10px;
    left:0;
    width:90px;
    height: 55px;    
    background: rgba(255,255,255,0.6) url('https://longvd94@github.io/images/play-o.png') center center/38px 38px no-repeat;
}
.article-grid--play__big {
    bottom:20px;
    width:178px;
    height: 109px;
    background-size:75px 75px;
}
.article-list-wrapper {
    margin-top: -10px;
}
.article-list {
    position: relative;
    padding: 16px 0 12px;
}
.article-list__bb {
    border-bottom: 1px solid #ddd;
}
.article-list__small {
    padding: 10px 0 0;
}
.article-list--img {
    height: 158px;
}
.article-list--img__h85 {
    height: 85px;
}
.article-list--title {
    line-height: 1.4;
}
.article-list__small .article-list--title{
    line-height: 1.3
}

.article-special-container {
    border-top:2px solid #f67280;
    padding-bottom: 20px;
}
.article-special--title {
    display: inline-block;
    color:#fff;
    background: #f67280;
    padding:0 33px;
    line-height: 40px;
    text-transform: uppercase;
}
.category-desc {
    padding-top:25px;
    padding-bottom: 30px;
}
.list-keywords li {
    margin-top: 5px;
    display: inline-block;
}
.list-keywords a {
    display: block;
    padding: 0 15px;
    border: 1px solid #4a4a4a;
    line-height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.list-keywords a:hover {
    background: #f67280;
    color:#fff;
    border-color:#f67280;
}
.list-keywords__main a{
    color:#f67280;
    border-color:#f67280;
} 
.list-keywords__ml li {
    margin-right: 12px;
}
.articles-more-btn {
    position: relative;
    display: block;
    margin:20px auto 30px;
    width:207px;
    height: 28px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color:#f67280;
    border:1px solid #f67280;
    padding:0 37px 0 17px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
}
.articles-more-btn:after {
    content:'';
    position: absolute;
    right:20px;
    top:50%;
    margin-top: -6px;
    width: 0; 
    height: 0;    
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;  
    border-top: 12px solid #f67280;
}
.articles-more-btn:hover, 
.articles-more-btn:focus {
    background: #f67280;
    color:#fff;
}
.articles-more-btn:hover:after, 
.articles-more-btn:focus:after {
    border-top-color: #fff;
}
.articles-more-btn__big {
    margin-top: 36px;
    width:302px;
    height: 38px;
    line-height: 38px;
    padding: 0 50px 0 30px;
    background: transparent;    
}
.articles-more-btn__big:after {
    border-left-width:8px;
    border-right-width:8px;
    border-top-width: 16px;
    border-top-color:#f67280
}

.articles-more-btn.disabled {
    background-color: #858585;
    cursor: pointer;
    color:#fff;
    border-color:#858585;
}
.articles-more-btn.disabled:after {
    display: none
}
.article-ft {
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    overflow: hidden;
}
.article-ft--img {
    height: 246px;
}
.article-ft--img__h504 {
    height: 504px;
}
.article-ft--link, .article-ft--title {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
}
.article-ft--link {   
    top:0;
    background: rgba(237,237,237,1);
    background: -moz-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#000000', GradientType=0 );
}
.article-ft--title {
    padding:15px; 
    color:#fff;
    z-index: 10;
    pointer-events:none
}
.article-ft--title__pd30 {
    padding:30px
}
.article-detail--label {
    color:#9b9b9b
}
.article-detail--tags>* {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0.25rem;
}
.article-detail--tags a {   
    color: #777;
    padding: 0 14px;
    line-height: 23px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #f0f0f0; 
}
.article-comment--form textarea {
    height: 88px;
}
.article-comment--inner {
    position: relative;
    padding-left: 70px;
    min-height: 53px;    
}
.article-comment--wrap {
    position: relative;
    background:#fff;
    border:1px solid #f67280;
}
.article-comment--avatar {
    position: absolute;
    left:0;
    top:0;
    width:53px;
    height: 53px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
}
.article-comment--content {
    padding:0 15px 15px 25px;
}
.article-comment--meta {
    margin:10px 0 5px 10px;
    color:#9b9b9b;
}
.article-comment--arrow {
    position: absolute;
    right:100%;
    top:-1px;
}
.article-comment--arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 16px solid #f67280;

}
.article-comment--arrow:before {
    
    content: '';
    position: absolute;
    top:1px;
    left:2px;
    display: block;    
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 15px solid #fff;
}

.more-arrow-right {
    position: relative;
    padding-right:18px;
    display: inline-block;
    font-weight: bold;
}
.more-arrow-right:after  {
    content:'';
    position: absolute;
    top:6px;
    right:0;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #4a4a4a;
}
.total-result {
    color:#9b9b9b
}
.input-radio input[type="radio"]{
    display: none
}
.input-radio--title {
    position: relative;
    padding-left:30px;
    font-size: 15px;
}
.input-radio--title:before, 
.input-radio--title:after {
    content:'';
    position: absolute;     
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; 
}
.input-radio--title:before {  
    top:2px;
    left:0;   
    width: 15px;
    height: 15px;   
    border: solid 1px #ddd;
    background-color: #fff;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.4);    
}

.input-radio input[type="radio"]:checked ~ .input-radio--title:before {
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    border-color: #f67280;   
    background-color: #f67280;
}
.input-radio input[type="radio"]:checked ~ .input-radio--title:after {
    left:5px;
    top:7px;
    width: 5px;
    height: 5px;    
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.21);
}
.video-nav {
    position: absolute;
    right:0;
    top:18px;
    padding-right: 39px;
}
.video-nav--btn {
    position: absolute;
    right:0;
    top:0;
    display: block;
    width: 39px;
    height: 39px;
    text-indent: -9999em;
}
.video-nav--btn:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background-image: url('https://longvd94@github.io/images/menu-bar.png');
    background-size: 48px 24px;
}
.video-nav--btn__bars:after {
    background-position: 0 0;
}
.video-nav--btn__close:after {
    background-position: -24px 0;
}
.video-nav--container {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 50;
    visibility: hidden;
}
.video-nav--container.open  {
    visibility: visible;
}   

.video-nav--inner {
    position: absolute;
    right:-100px;
    opacity: 0;
    top:0;
    bottom:0;
    width:400px;
    padding: 15px 30px; 
    
}
.video-nav--container.open .video-nav--inner  {
    right:0;
    opacity: 1;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
}

.video-nav--inner .video-nav--btn__close {
    position: absolute;
    right: 30px;
    top:22px;
}
.tag-ico--title {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 50px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tag-ico--icon {
    position: absolute;
    left:0;
    top:0;
    width: 40px;
    height: 40px;   
    background-size:100% 100%;    
}
.overlay {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.7)
}