.plyr--full-ui input[type=range] {
    color: #f67280
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: #f67280
}
.plyr__control--overlaid svg {
    display: none;
}
.plyr__control--overlaid {
    padding:0;
    width:62px !important;
    height: 72px;
    background: url('../images/play-o.png') 0 0 / 100% 100% no-repeat !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    opacity: 0.6;
}
.plyr__control--overlaid:hover {
    opacity: 0.8;
}