html {
    font-size: 14px;
}
h1, h2, h3 {
    line-height: 1.3;
}
a, a:hover, a:focus {
    color:inherit;
    text-decoration: none
}
img {
    max-width: 100%;
}
.rs {
    margin: 0;
    padding: 0;
}
.list-unstyled {
    list-style: none;
}
.fwb {font-weight: bold}
.fwn {font-weight: normal}

body {
    font-size: 14px;
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    color:#4a4a4a;
}
#header {
    position: fixed;
    width:100%;
    left:0;
    top:0;
    z-index: 99;    
}
.lock-screen {   
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 70;
    visibility: hidden;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.lock-screen.show {
    visibility: visible;
    opacity: 0.8;
}
.primary-color {
    color: #f67280
}
.bg--primary {
    background-color: #f67280;
    color:#fff;
}
.bg--secondary {
    background-color: #ffe6eb
}
.bg--third {
    background-color: #f8f8f8
}
.input {
    width:100%;
    outline: 0;
    height: 36px;
    color:#222;
    background: #fff;
    padding: 0 7px;
    border: 1px solid #f67280;    
}
.input__round {
    border-radius: 4px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
}
.ico--yt {
    display: inline-block;
    width: 54px;
    height: 36px;
    background-image: url('https://longvd94@github.io/mobile/images/yt.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.fz16 {    
    font-size: 16px !important;
}
.fz18 {
    font-size: 18px !important;
}
.fz20 {
    font-size: 20px !important;
}
.fz24 {    
    font-size: 24px !important;
}
.btn {
    position: relative;
    border: 0;
    outline: 0;
    background-color: #f67280;
    color:#fff;
}
.btn__small {
    height: 36px;
    font-size: 14px;
    line-height: 36px;   
    padding: 0 17px;
    font-weight: bold; 
}
.btn__round {
    border-radius: 4px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
}

.title {
    font-weight: bold;
    font-size: 14px;    
    color:#404040;
    line-height: 1.3;
}
.title__bdl {
    line-height: 1.1;
    border-left: 4px solid #f67280;
    padding-left:10px;
}
.title__upcase {
    text-transform: uppercase;
}
.title--triangle {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #f67280;
}

.tag-ico--title {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 50px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tag-ico--icon {
    position: absolute;
    left:0;
    top:0;
    width: 40px;
    height: 40px;   
    background-size:100% 100%;    
}

.tag-list--title {
    display: block;   
    line-height: 34px;
    height: 34px;
    font-size: 16px;
    padding: 0 10px;    
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: 3px 3px 0 #f7bac7;
    -webkit-box-shadow: 3px 3px 0 #f7bac7;
    -moz-box-shadow: 3px 3px 0 #f7bac7; 
}

.tag-list--title__small {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 7px;
}

.page-title {
    text-align: center;
    line-height: 39px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-nav {    
    height: 56px;   
    padding: 8px 0;
}
.main-nav--logo__img {
    display: block;
    margin: 0 auto;
    width:144px;
    height: 39px;
    text-indent: -9999em;
    background: url('https://longvd94@github.io/mobile/images/logo-w.png') 0 0 / 144px 39px no-repeat;
    background-position: center center;
}
.main-nav--btn {
    position: relative;
    display: block;
    width:39px;
    height: 39px;    
    text-indent: -9999em;
}
.main-nav--btn__back {
    position: relative;
}
.main-nav--btn__back:after, 
.main-nav--btn__back:before {
    content:'';
    position: absolute;
    left:0;
    width:17px;
    height: 2px;
    background: #fff;
}
.main-nav--btn__back:after {
    top:26px;
    transform: rotate(45deg)
}
.main-nav--btn__back:before {
    top:14px;
    transform: rotate(-45deg)
}
.main-nav--btn__bars:after, 
.main-nav__btn--close:after {
    content:'';
    position: absolute;
    left:0;
    top:50%;
    margin-top:-12px;    
    width:24px;
    height:24px;
    background-image: url('https://longvd94@github.io/mobile/images/menu-bar.png');
    background-size: 48px 24px;
}
.main-nav__btn--close:after {
    background-position:-24px 0;
}
.main-nav--btn__right {
    float: right;
}
.main-nav--btn__bars-right:after {
    left:auto;
    right:0;
}
.main-nav--btn__search {
    float:right;
}
.main-nav--btn__search:after {
    content:'';
    position: absolute;
    right:0;
    top:50%;
    margin-top: -13px;
    width: 26px;
    height: 26px;
    background-image: url('https://longvd94@github.io/mobile/images/search-o.png');
    background-size: 26px 26px;
}
.header-search-container {
    position: absolute;
    z-index: 11;
    left: 0;
    top: 56px;
    width: 100%;
    padding: 20px 0;    
}
.header-search-container--static {
    position: static;
    top:0;
}
.header-search-form {
    position: relative;
    height: 36px;    
    margin-bottom: 0;
}
.header-search-form .input{
    height: inherit;
    padding-right:85px;
}
.header-search-form .btn {
    position: absolute;
    right:0;
    top:0;
    padding: 0 10px;
    height: 36px;
    font-weight: bold;
}

.header-menu-container {   
    padding: 10px 0 20px;
    border-bottom: 2px solid #f67280;
}
/* .header-menu-container .tag-list {
    margin: 0 8px;
} */
@media (max-width: 575px){
    .home-article-ft {
        padding-right:0;
        padding-left:0;
    }
}

.header-menu-container .tag-list--title {
    margin-top:0;
    margin-bottom:15px;
}

.cate-list {   
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cate-list--title {
    padding: 15px 100px 15px 15px;
    height: 100px;   
    color:#fff;   
    font-size: 18px;
    background-image: linear-gradient(to left, rgba(238, 238, 238, 0), #000000);
    background-image: rgba(0,0,0,1);
    background-image: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(237,237,237,0) 100%);
    background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(237,237,237,1)));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(237,237,237,0) 100%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(237,237,237,0) 100%);
    background-image: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(237,237,237,0) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(237,237,237,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ededed', GradientType=0 );
}
.cate-list--link {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.article--img {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #dedede;
    background-size: cover;
    background-position: center center;
}
.article--divide {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    height: 1px;
    background: #d0d0d0
} 
.article--img img {
    visibility: hidden;
} 
.article-ft {
    position: relative;
    height: 264px;
    overflow: hidden;
}
.article-ft__h275 {
    height: 275px;
}
@media (min-width:768px){
    .article-ft__h275 {
        height: 370px;
    }
}

.article-ft__round {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: hidden;
}
.article-ft--img, 
.article-ft--title,
.article-ft--link {
    width:100%;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 5;
}
.article-ft--title {
    background: rgba(237,237,237,1);
    background: -moz-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#000000', GradientType=0 );
}
.article-ft--title h3 {
    position: absolute;    
    bottom:0;
    width:100%;
    padding: 0 15px 15px;
    color:#fff;
    font-size: 23px;
}
.article-list {
    position: relative; 
    min-height: 120px;
    padding: 10px 0 10px 145px;   
} 
.article-list--img {  
    position: absolute;
    left:0;
    top:10px;  
    height: 100px;
    width:145px;    
}
.article-list--meta {
    margin-left: 15px;
}
.article-list--title {
    font-size: 18px;
    line-height: 1.3;
    margin-top: -2px;
}
.article-list--title .ico--yt {
    width:21px;
    height: 14px;
}
.article-label {
    font-size: 13px;
    white-space: nowrap;
}
.article--play {
    display: block;
    width: 90px;
    height: 55px;
    background-image:url('https://longvd94@github.io/mobile/images/play-o.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 38px;
    background-color: #fff;
    opacity: 0.7;
}
.list-articles {
    padding-top: 20px;
    padding-bottom: 10px;
    background: #f8f8f8;
}
.articles-frames {
    border:solid 2px #c7c7c7
}
.articles-frames .scroll-block {
    height: 286px;
    overflow: hidden;
}

.title-highlight span {
    display: inline-block;
    line-height: 52px;
    border-bottom: solid 4px #f67280;
}
.articles-slider .owl-item {
    padding-bottom:3px;
}
.slide-article {    
    width:174px;
    background: #fff;
    box-shadow: 3px 3px 0 #f7bbc8;    ;
    -webkit-box-shadow: 3px 3px 0 #f7bbc8;
    -moz-box-shadow: 3px 3px 0 #f7bbc8;
} 
.slide-article--img {
    display: block;
    height: 174px;
    background-size:cover;
    background-position: center center;
    overflow: hidden;    
}
.slide-article--img img {
    visibility: hidden;
}
.slide-article--title {
    font-size: 14px;
    line-height: 1.2; 
    padding: 7px 7px 4px 7px;   
}
.article-grid {
    position: relative;
    padding: 10px 0;
}
.article-grid .article--play {
    position: absolute;
    bottom:12px;
    left:0;
}
.article-grid--title {
    font-size: 18px;
    line-height: 1.3;
}

.article-grid--img {    
    height: 217px; 
}

.article-grid--img__h264 {    
    height: 264px; 
}

.breadcrumb {
    font-size: 13px;
    padding: 20px 0;
}
.breadcrumb li{
    position: relative;
    padding-left: 12px;
    margin-right: 4px;
    display: inline-block;
}
.breadcrumb li:after, 
.breadcrumb li:before {
    content:'';
    position: absolute;
    top:50%;
    left:0;
    height: 1px;
    width: 5px;
    background-color: #4a4a4a;   
}
.breadcrumb li:after {
    margin-top: -3px;
    transform: rotate(45deg)
}
.breadcrumb li:before {
    transform: rotate(-45deg) 
}
.breadcrumb li.first {
    padding-left: 0;
}
.breadcrumb li.first:after,
.breadcrumb li.first:before {
    display: none
}
.breadcrumb li.current {
    color:#f67280
}
.articles-more-btn {
    display: block;   
    font-weight: bold; 
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color:#f67280;   
    margin: 20px 0 34px; 
    box-shadow: 3px 3px 0  #f7bac7;
    border: solid 1px #f67280;
}
.articles-more-btn:hover, 
.articles-more-btn:focus {
    color: #f67280; 
}
.article-detail {
    border-bottom: 1px solid #d0d0d0
}

.article-detail--ft-img {
    text-align: center
}

.article-detail--author {
    font-weight: bold;
    text-align: right;
}
.article-detail--tags>* {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0.25rem;
}
.article-detail--tags a {
    font-size: 11px;
    color: #777;
    padding: 0 17px;
    line-height: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #f0f0f0; 
}
.article-comment--meta {
    color: #777777;
    font-size: 11px;
}
.article-comment--meta .primary-color {
    font-size: 14px;
    font-weight: bold;
}

.more-arrow-right {
    position: relative;
    padding-right:18px;
    display: inline-block;
    font-weight: bold;
}
.more-arrow-right:after  {
    content:'';
    position: absolute;
    top:6px;
    right:0;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #4a4a4a;
}
.article-comment--form textarea.input {
    height: 62px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.category-filter {
    padding: 10px 0 7px;
}
.category-filter--triangle {   
    position: relative;    
}
.category-filter--triangle:after {
    content: '';
    position: absolute;
    top: -22px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #ffe6eb;

}
.category-filter--slider .owl-item {
    padding-bottom: 3px
}

#footer {    
    padding: 15px 0 20px 
}
.footer--logo {
    text-indent: -9999em;
    margin-bottom: 12px;
}
.footer--logo__img {
    display: block;
    margin: 0 auto;
    width: 126px;
    height: 35px;
    background: url('https://longvd94@github.io/mobile/images/logo-p.png') 0 0 / 126px 35px no-repeat;   
}
.footer--linklists {
    text-align: center
}
.footer--linklists li{
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #222;
    line-height: 1.2;
    font-size: 12px;
}
.footer--linklists li:last-child {
    border-right:0
}
.footer--copyright {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 12px;
    text-align: center
}
.video-container {
    margin: 0 -15px;    
    background-color:#222;
}
@media (min-width: 576px){
    .video-container {
        margin: 0
    }
}
.category-desc--title {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.total-result {
    font-size: 13px;
    color:#9b9b9b
}